* {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
}

.clients {
  padding: 20px;
  margin: 0 auto;
  width: 1000px;
  overflow: hidden;
  background-color: black;
}

h1 {
  text-align: center;
  color: #275A8A;
}

span.title {
  color: #DF7B26;
}

.client-1 {
  position: relative;
  float: left;
  width: 400px;

}

.client-2 {
  position: relative;
  float: right;
  width: 400px;
  }

img {
  position: relative;
  z-index: 2;
  width: 100px;
  height: 100px;
}

.message-1, .message-2 {
  float: right;
  width: 264px;
  padding: 10px;
  background-color: white;
  }

.customer, .customer-name {
  font-size: 10pt;
  font-style: italic;
  color: #2BC2D4;
  background-color: white;
}

.customer-name {
  float: left;
}

.customer {
  float: right;
}

p {
  display: block;
  margin: 29px 0 0 6px;
  padding-top: 10px;
  border-top: 2px dotted black;
  font-size: 8pt;
  background-color: white;
}

.triangle {
  position: absolute;
  left: 21%;
  top: 29%;
  z-index: 1;
  border: 16px solid transparent;
  border-right: 16px solid white;
}