.fotorama {
  height: 25rem;
}

.fotorama__item {
  width: 100%;
  height: 19.375em;
  overflow: hidden;
  z-index: 1;
}

.fotorama__description {
  width: 100%;
  height: 8em;
  background-color: rgba(0, 0, 0, 0.58);
  z-index: 2;
  position: relative;
  padding: 0.5em 1em;
  top: -3.5em;
  transition: 600ms;
}

.fotorama__item:hover .fotorama__description {
  transform: translateY(-4.5em);
}

.fotorama__text {
  color: white;
  background-color: rgba(0,0,0,0);
}

.button {
  background-color: rgba(0,0,0,0);
}

.button__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 3rem;
  text-decoration: none;
  color: white;
  letter-spacing: 0.1rem;
  border-radius: 0.1rem;
  background-color: #288EBC;
  font-size: 1.2rem;
}

.button__link:hover {
  background-color: #237a9f;
}