@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  font-family: "Roboto+Condensed", sans-serif;
}

.red, .green, .blue, input {
  display: none;
}

label {
  text-decoration: underline;
  margin: 25px;
}

span {
  padding: 4px 6px;
  border-radius: 10px;
}

#red~label[for="red"]{
  color: red;
  opacity: 0.3;
}

#red~.red{
  background-color: red;
  color: white;
  opacity: 0.3;
}

#red:checked~label[for="red"]{
  color: red;
  opacity: 1.0;
}
#red:checked~.red{
  background-color: red;
  color: white;
  opacity: 1.0;
  display: inline-block;
}

#green~label[for="green"]{
  color: green;
  opacity: 0.3;
}

#green~.green{
  background-color: green;
  color: white;
  opacity: 0.3;
}

#green:checked~label[for="green"]{
  color: green;
  opacity: 1.0;
}
#green:checked~.green{
  background-color: green;
  color: white;
  opacity: 1.0;
  display: inline-block;
}

#blue~label[for="blue"]{
  color: blue;
  opacity: 0.3;
}

#blue~.blue{
  background-color: blue;
  color: white;
  opacity: 0.3;
}

#blue:checked~label[for="blue"]{
  color: blue;
  opacity: 1.0;
}
#blue:checked~.blue{
  background-color: blue;
  color: white;
  opacity: 1.0;
  display: inline-block;
}










