* {
 background-color: black;
}

.contacts {
 width: 100%;
 height: 20rem;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 color: white;
}

.contacts__phone-numbers {
  width: 30%;
  height: 100%;
}

.contacts__opening-hours {
  width: 30%;
  height: 100%;
}

.contacts__map {
  width: 30%;
  height: 100%;
}

.contacts h3 {
 text-align: center;
}

.contacts li {
 list-style: none;
}

.contacts a{
 text-decoration: none;
 color: white;
}

.contacts a:hover {
 color: #288EBC;
}

.contacts__map-yandex {
  width: 100%;
  height: 10rem;
  background-color: #8b8b8b;
}