body {
  margin: 20px;
}

.menu {
  margin: 0 auto;
  width: 1100px;
  font-family: 'Open Sans', sans-serif;
}

img {
  width: 240px;
  margin-right: 150px;
}

li {
  display: inline;
  padding: 16px;
}

li a {
  color: #7343A0;
  text-decoration: none;
  text-transform: uppercase;
}

li:not(:first-child):hover {
  border-bottom: 2px solid #3071A8;
}

a:active {
  color: #ff0703;
}

.content {
  margin: 30px auto;
  background: url("title-back.jpg") no-repeat;
  color: #EDF5FD;
  padding: 100px;
  width: 1100px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  margin: 20px auto;
  width: 730px;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

h2 span {
  font-size: 32px;
}

p {
  display: block;
  margin: 0 auto;
  width: 500px;
}

.content a {
  display: block;
  text-align: center;
  margin: 50px auto;
  color: #EDF5FD;
  border: 1px solid #EDF5FD;
  text-decoration: none;
  font-size: 18px;
  width: 170px;
  padding: 20px 32px;
}

.content a:active {
  border-color: #ff0703;
  color: #ff0703;
}