@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
* {
  font-family: "Roboto+Condensed", sans-serif;
}
.best-value {
  background-color: #EE8129;
  color: white;
  border: 4px solid #EE8129;
  border-radius: 5px;
  width: 280px;
  margin-left: 160px;
}

h1 {
  font-size: 24px;
  padding-left: 64px;
}

h2 {
  font-size: 24px;
  padding-left: 28px;
  padding-top: 20px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
  font-size: 68px;
}

sub  {
  font-size: 20px;
}

sup {
  position: relative;
  bottom: 12px;
  right: 4px;
  font-size: 20px;
}

.best-value .iconic-grapfics {
  background-color: white;
  color: black;
  box-sizing: border-box;
  padding-bottom: 2px;

}

li {
  font-size: 16px;
  padding: 8px;
  margin-bottom: 2px;
  margin-right: 16px;
  list-style: url("arrow.png");
  }

li:nth-child(odd) {
  background-color: #EDF5FD;
}

li:nth-child(even) {
  background-color: #F5F5F6;
}

.button {
  display: block;
  color: white;
  background-color: #EE8129;
  text-decoration: none;
  border-radius: 4px;
  padding: 12px 60px ;
  margin: 16px 20px 30px;
  font-size: 14px;
  box-shadow: #964b00 0 3px;
}