
.card-menu-item {
  width: 18.75rem;
  height: 15.6rem;
  position: relative;
}

.card-menu__image {
  height: 12.5em;
  overflow: hidden;
}

.card-menu__hover {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 3em;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  transition: 300ms;
}

.card-menu__hover p {
  background-color: rgba(0, 0, 0, 0);
}

.card-menu__name {
  color: white;
  text-align: center;
}

img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.card-menu__link {
  display: block;
}

.card-menu-item .card-menu__link:hover .card-menu__hover {
    transform: translateY(-3em);
}
