.car-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30rem;
  height: 10rem;
  background-color: #ffffff;
}

.car-card__image {
  width: 11.25em;
  height: 7.2em;
}

.car-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-card__name {
  position: relative;
  top: -1em;
}

.car-card__link-description {
  text-decoration: none;
  color: #123dff;
}

.car-card__link-description:after {
  content: "\2192";
}

.car-card__link-description:hover{
  color: #9eafff;
}