h1 {
  text-align: right;
  color: darkorange;
}

span {
  color: red;
  font-size: 30px;
}

i{
  color: white;
  background-color: green;
}

.title-garden {
  color: orange;
}

.fruits {
  color: gray;
}

.vegetables {
  color: #c7002a;
}

.title-stock {
  color: blue;
}

.fruits-in-stock {
  color: forestgreen;
}

li ol li {
  font-weight: normal;
}

ul li {
  font-weight: bold;
}

table {
  text-align: center;
  font-weight: bold;
  width: 400px;
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

.names {
  text-align: left;
  color: orange;
}

.names ~ td {
  background-color: green;
  color: white;
}

