.social-networks {
  width: 100%;
  height: 3rem;
  background-color: #8b8b8b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.2rem;
}

.social-networks__text {
  color: white;
  background-color: rgba(0,0,0,0);
  display: block;
  margin-left: 2em;
}

.social-networks__item {
  background-color: rgba(0,0,0,0);
  display: block;
  text-decoration: none;
  margin: 0 1em;
  transition: 200ms;
  fill: white;
}

.social-networks__item svg {
  background-color: rgba(0,0,0,0);
}

.social-networks__item:hover {
  fill: #288EBC;
}