header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4.5rem;
  background-color: rgb(217, 217, 217);
}

.navigation {
  padding-right: 3em;
}

.logo {
  width: 10em;
  min-width: 10em;
}

.logo__image {
  width: 100%;
  height: 100%;
  padding-left: 2em;
}

.navigation__list-item {
  display: inline-block;
  text-decoration: none;
}

.navigation__link {
  display: flex;
  align-items: center;
  height: 4.5em;
  padding: 0 1em;
  text-decoration: none;
  color: black;
}

.navigation__link:hover {
  color: #6779ff;
  border-left: 2px solid #bababa;
  border-right: 2px solid #bababa;
}