.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 3rem;
  border: 2px solid black;
  text-decoration: none;
  text-transform: uppercase;
  color: #123dff;
  letter-spacing: 0.2em;
  font-size: 1em;
}

.button:hover {
  color: #6779ff;
}